/*
* ----------------------------------------
*   Imports
* ----------------------------------------
*/
@import 'partials/iconfont';
@import 'partials/fonts';
@import 'partials/wordpress';
@import 'variables/colors';
@import 'mixins/gradients';
@import 'mixins/mixins';
@import 'placeholders/placeholders';

/*
* ----------------------------------------
*   Modules import
* ----------------------------------------
*/
@import 'modules/header';
@import 'modules/footer';
@import 'modules/slider';
@import 'modules/iconbox';
@import 'modules/slider-offers';
@import 'modules/scrollider';
@import 'modules/form';
@import 'modules/tabs';
@import 'modules/alert';
@import 'modules/steps';
@import 'modules/table';
@import 'modules/button';
@import 'modules/pagination';
@import 'modules/sdotus';

/*
* ----------------------------------------
*   Templates imports
* ----------------------------------------
*/
@import 'templates/product';
@import 'templates/post';
@import 'templates/single';
@import 'templates/post-single';
@import 'templates/single-product';
@import 'templates/comments';
@import 'templates/my-account';
@import 'templates/checkout';
@import 'templates/cart';

/*
* ----------------------------------------
*   Pages imports
* ----------------------------------------
*/
@import 'pages/home';
@import 'pages/blog';
@import 'pages/store';
@import 'pages/tools';

/*
* ----------------------------------------
*   General
* ----------------------------------------
*/
body {
  direction: rtl;
  unicode-bidi: embed;
  text-align: right;
  font-family: Vazir, Tahoma, Arial, sans-serif;
  font-size: 20px;
  background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: $black;
  @include animate( color, 320ms );
  &:hover,
  &:focus {
    text-decoration: none;
    color: $magenta;
  }
}

h2 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ppt-content-area {
  padding-top: 120px;
  margin-bottom: 40px;
}

.hr-separator {
  height: 3px;
  width: 100%;
  background-color: $magenta;
  border-radius: 2px;
  margin-bottom: 40px;
}

.ppt-container {
  border-radius: 1.5em !important;
  background-color: $white !important;
  @include boxShadow( 0, 3px, 5px, 0.2 )
}

.ppt-wrapper-center {
  display: flex;
  display: -ms-flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
