$blue: #3cb3ff;
$green: #35DE6A;
$dark-green: #2FC45D;
$red: #f52350;
$magenta: #7f47b3;
$dark-magenta: #502293;
$purple: #a75eeb;
$violet: #d2b8eb;
$yellow: #fed330;

$pure-black: #000;
$black: #303030;
$white: #fff;

$grey: #bbb;
$light-grey: #e8e8e8;
$dark-grey: #808080;

$background: #f8f8f8;

$telegram: #2ba0da;
$instagram: #962fbf;
$facebook: #4064ad;
$twitter: #1c9dec;
$mail: #0075f8;