/*
* ----------------------------------------
*   PPT Colors
* ----------------------------------------
*/
$blue: #3cb3ff;
$dark-blue: #3392ce;
$extra-light-blue: #d5f0fd;
$green: #35de6a;
$dark-green: #2fc45d;
$light-green: #1eff5f;
$extra-light-green: #ccf3df;
$red: #f52350;
$extra-light-red: #fad7d9;
$magenta: #7f47b3;
$dark-magenta: #502293;
$purple: #a75eeb;
$violet: #d2b8eb;
$yellow: #fed330;
$orange: #f7710e;
$extra-light-yellow: #fff3cd;

$pure-black: #000;
$black: #303030;
$white: #fff;

$grey: #bbb;
$light-grey: #e8e8e8;
$extra-light-grey: #FCFCFC;
$dark-grey: #808080;

$background: #f8f8f8;

$telegram: #2ba0da;
$instagram: #962fbf;
$facebook: #4064ad;
$twitter: #1c9dec;
$mail: #0075f8;