$blue: #3cb3ff;
$green: #32d264;
$red: #f52350;
$magenta: #7f47b3;
$purple: #a75eeb;
$violet: #d2b8eb;
$yellow: #fed330;

$black: #303030;
$white: #fff;

$grey: #bbb;
$light-grey: #e8e8e8;
$dark-grey: #808080;

$background: #f8f8f8;