/*
* ----------------------------------------
*   Comments Template Styles
* ----------------------------------------
*/
.ppt-comments-area {
  .hr-separator {
    margin-bottom: 40px;
  }

  ol.comment-list {
    list-style: none;

    .comment-body {
      display: flex;
      display: -ms-flexbox;
      flex-direction: column;
      width: 50%;
      background-color: $light-grey;
      border-radius: 30px;
      margin: 30px 0;
      @include boxShadow( 0, 3px, 5px, 0.2 );
    }

    .comment-meta {
      position: relative;
      display: flex;
      display: -ms-flexbox;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 20px 30px;
      font-size: 18px;
      font-weight: 500;
    }

    .comment-author {
      position: absolute;
      top: -16px;
      right: -24px;
      display: flex;
      display: -ms-flexbox;
      flex-direction: row;
      align-items: center;

      img {
        border: 3px solid $magenta;
        border-radius: 50%;
        @include boxShadow( 0, 3px, 5px, 0.2 );
      }

      .fn {
        margin-right: 30px;
      }
    }

    .comment-metadata {
      a {
        color: $dark-grey;

        &:hover {
          color: $magenta;
        }
      }
    }

    .comment-content {
      background-color: $white;
      border-radius: 30px 0 0 0;
      padding: 30px 40px;

      p {
        margin: unset;
      }
    }

    .reply {
      background-color: $white;
      border-radius: 0 0 30px 30px;
      padding: 10px 20px 30px;
      text-align: left;

      a {
        padding: 10px 30px;
        border-radius: 30px;
        border: 2px solid $magenta;
        color: $magenta;
        @include animate( all, 320ms );

        &:hover {
          color: $white;
          border-color: transparent;

          @include purpleGradient();
        }
      }
    }

    ol.children {
      list-style: none;

      .comment-body {
        background-color: $violet;
      }
    }
  }

  .comment-form {
    margin: 40px 0;

    .comment-note {
      margin: 30px 0;
    }

    .ppt-form-control {
      border-radius: 30px;
      padding: 15px 30px;
      height: auto;
      margin: 30px 0;
      @include placeholderColor( 190, 190, 190 );
    }

    .custom-control-label {
      padding-right: 2.5rem;

      &:before {
        right: 1rem;
      }

      &:after {
        right: 1rem;
      }
    }

    .custom-control-input:checked ~ .custom-control-label {
      &:before {
        background-color: $magenta;
        border-color: $magenta;
      }
    }

    .ppt-checkbox {
      margin: 30px 0;
    }

    .ppt-comment-submit {
      position: relative;
      display: block;
      text-align: center;
      border: none;
      border-radius: 30px;
      padding: 15px 30px;
      width: 100%;
      font-weight: 500;
      color: $white !important;
      -webkit-appearance: unset;
      @include purpleGradient();
      @include animate( all, 320ms );

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: inherit;
        @include animate( background-color, 320ms );
      }

      &:hover {
        &:before {
          background-color: rgba( 0, 0, 0, 0.1 );
        }
      }
    }
  }
}

.ppt-comments-pagination {
  margin-top: 40px;
  flex-direction: row-reverse;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;

  a {
    position: relative;
    display: flex;
    display: -ms-flex;
    justify-content: center;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    align-items: center;
    padding: 15px 0;
    border-radius: 45px;
    @include boxShadow( 0, 3px, 5px, 0.4 );

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      @include animate( all, 320ms );
    }

    &:hover {
      color: $black;

      &:before {
        @include borderGlow( 10px, $magenta );
      }
    }

    .prev-comments, .next-comments {
      display: flex;
      display: -ms-flex;
      align-items: center;

      i {
        position: absolute;
        color: $magenta;
      }
    }

    .prev-comments {
      i {
        left: 20px;
      }
    }

    .next-comments {
      i {
        right: 20px;
      }
    }
  }
}